.journal-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row{
    display: flex;
    gap: 50px;
}
.form-label{
    display: flex;
    align-items: center;
    min-width: 100px;
    gap: 20px;
}
.input{
    border: none;
    background: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    color: white;
    border-bottom: 1px solid #5f5a5a;
    width: 100%; 
    transition: all 0.25s;
}

.invalid{
    border: 1px solid red;
    background: rgb(114, 13, 13);
}
.delete{
    border: none;
    background: none;   
    cursor: pointer;
    padding: 0;
    width: 49px;
    
}

.delete:hover{
    background-color: rgba(255,255,255, 0.05);
    border-radius: 50%;
}